<style>

.square{
  background-color: white;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 50px;
}

#title{
  text-align: center;
  color: #098484;
  font-weight: 600;
  font-size: x-large;
}

.session-input{
  border-color: #0CB8B8;
  border-radius: 7px;
  z-index: 100;
  position: relative;
  width: 96%;
}

.session-input-field{
  color: #098484;
}

.icon-holder{
  display: inline;
  border: 1px solid black;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: -9px;
  background-color: #0CB8B8;
  color: white;
  border-radius: 7px;
}

.key-holder{
  padding-right: 4px;
  padding-left: 13px;
}

.user-holder{
  padding-right: 6px;
  padding-left: 13px;
}

@media (max-width: 1010px) {
  .icon-holder{
    display: none;
  }
  .session-input{
    width: 100%;
  }
}

.title-image{
  display: block;
  margin: 0 auto;
  width: 400px;
  margin-top: 30px;
}

.form-button{
  margin-top: 20px;
  width: 100%;
  padding: 5px;
  border-radius: 7px;
}

.enter-button{
  background-color: #0CB8B8;
  color: white;
}

.enter-button:hover{
  background-color: #098484;
  color: white;
  transition: 0.4s;
}

.crear-button{
  background-color: #CD3301;
  color: white;
}

.crear-button:hover{
  background-color: #9A2701;
  color: white;
  transition: 0.4s;
}

.bottom-segment{
  background-color: #414440;
  color: lightgrey;
  height: 60px;
  width: 100%;
}

.credits{
  position: absolute;
  right: 0;
  padding-top: 15px;
  padding-right: 15px;
}

.introduction{
  width: 50%;
  margin: auto;
  padding: 20px;
  color: white;
}

.introduction-title{
  font-weight: 500;
  font-size: 30px;
}

</style>

<div class="normal-background">

  <div>
    <%= link_to sessions_sign_in_path do %>
      <%= image_tag '/assets/Pill2.png', class: "title-image" %>
    <% end %>
  </div>
  <div class="introduction">
    <div class="introduction-title">
      Welcome to MediKT
    </div>
    <div>
      <div>Best web application to manage your treatments and health needs</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1 col-lg-2 col-md-2">
    </div>
    <div class="col-sm-10 col-lg-8 col-md-8">
      <div class="row square">
        <div class="col-lg-12 col-md-12">
          <div id="title">
            Create New Account
          </div>
          <div style="margin-top:15px;">
            <%= form_with url: "/sessions/create_user", method: :session do |form| %>
              <div class="row">
                <div>  
                  <%= form.label :username, class: "session-input-field" %>
                </div>
                <div> 
                  <%= form.text_field :username, class: "session-input" %><div class="icon-holder user-holder"><i class="fa fa-user"></i></div>
                </div>
              </div>
              <div class="row">
                <div> 
                  <%= form.label :password, class: "session-input-field" %>
                </div>
                <div> 
                  <%= form.password_field :password, class: "session-input" %><div class="icon-holder key-holder"><i class="fa fa-key"></i></div>
                </div>
              </div>
              <div class="row">
                <div> 
                  <%= form.label :confirm, "Confirm Password", class: "session-input-field" %>
                </div>
                <div> 
                  <%= form.password_field :confirm, class: "session-input" %><div class="icon-holder key-holder"><i class="fa fa-key"></i></div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <%= form.submit "Create Account", class: "form-button crear-button" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2">
            <%= button_to sessions_sign_in_path, method: :get, class: "form-button" do %>
              <%= content_tag :i, "", class: "fa fa-arrow-left" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-segment">
    <div class="credits">
      Application made by Andie Pérez
    </div>
  </div>
</div>

<script>

console.log("loaded script")

window.onload = function() {
  console.log("loaded event")
  var targetElement = document.getElementById('title');
  targetElement.scrollIntoView();
};

</script>


